.srinadh{
       width:700px;
	   height:270px;
	   background-color:white;
	   border:1px solid black;
}
.sri1{
	width:100px;
	height:90px;
	background-color:green;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri2{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri3{
	width:100px;
	height:90px;
	background-color:green;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri4{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri5{
	width:100px;
	height:90px;
	background-color:green;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
.sri6{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri7{
	width:100px;
	height:90px;
	background-color:green;
	border:1px solid black;
	float:left;
	margin-top:15px;
}
	margin-left:15px;
}
.sri6{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri7{
	width:100px;
	height:90px;
	background-color:green;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri8{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri9{
	width:100px;
	height:90px;
	background-color:green;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}

.sri10{
              width:100px;
	height:90px;
	background-color:white;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri11{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri12{
              width:100px;
	height:90px;
	background-color:green;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri13{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri14{
              width:100px;
	height:90px;
	background-color:green;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri15{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri16{
              width:100px;
	height:90px;
	background-color:green;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}

}


