.srinadh{
       width:700px;
	   height:20px;
	   background-color:pink;
	   border:1px solid black;
	   
}     

.sri1{
	width:85px;
	height:20px;
	background-color:green;
	float:left;

	
}
.sri2{
	width:90px;
	height:20px;
	background-color:red;
    float:left;
}
		
	

.sri3{
	width:100px;
	height:20px;
	background-color:blue;
	float:left;
}
.sri4{
	width:100px;
	height:20px;
	background-color:blue;
	float:left;
}
.sri5{
	width:130px;
	height:20px;
	background-color:yellow;
	float:left;
}
.sri6{
	width:150px;
	height:20px;
	background-color:brown;
	float:left;
}













	

}





