.srinadh{
       width:600px;
	   height:90px;
	   background-color:none;
	   border:5px solid black;
}
.sri1{
	width:100px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
}
.sri2{
	width:100px;
	height:90px;
	background-color:white;
	border:1px solid black;
	float:left;
}
.sri3{
	width:100px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
}
.sri4{
	width:100px;
	height:90px;
	background-color:white;
	border:1px solid black;
	float:left;
}
.sri5{
	width:100px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
}
.sri6{
	width:100px;
	height:90px;
	background-color:white;
	border:1px solid black;   
}


