.srinadh{
       width:770px;
	   height:270px;
	   background-color:white;
	   border:1px solid black;
}
.sri1{
	width:150px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri2{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri3{
	width:150px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri4{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri5{
	width:150px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri6{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri7{
	width:150px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
.sri8{
	width:150px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
	margin-bottom:15px;
	margin-left:15px;
	margin-top:50px;
}
.sri9{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri10{
	width:150px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
	margin-bottom:15px;
	margin-left:15px;
	margin-top:50px;
}
.sri11{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri12{
	width:150px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
	margin-bottom:15px;
	margin-left:15px;
	margin-top:50px;
}
.sri13{
	width:25px;
	height:90px;
	background-color:white;
	float:left;
}
.sri14{
	width:150px;
	height:90px;
	background-color:red;
	border:1px solid black;
	float:left;
	margin-bottom:15px;
	margin-left:15px;
	margin-top:50px;
}
